:root {
    --primary-color: #055a05;
    /* forest green */
    --secondary-color: #075d5e;
    /*warm sand */
    --accent1-color: #264653;
    /*dark slate */
    --accent2-color: #ecbd46;
    /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header,
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: var(--secondary-color);

}

footer {
    display: grid;
    grid-template-columns: 580px 210px;
    background-color: #fff;
    text-align: end;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 43px;
}

.history {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
}

.history h2 {
    grid-row: 1/2;
    grid-column: 1/4;
}

.history img {
    width: 100%;
    padding-top: 28px;
}

header img {
    width: 160px;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

figcaption {
    text-align: center;
}

.adventure_flex,
.serve_flex {
    display: flex;
    text-align: center;

}

.serve_flex figure {
    width: 100%;
}

figure img {
    width: 130px;
}

figure {
    padding: 0;
    margin: 10px;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

nav ul {
    display: flex;
    list-style: none;
}

li {
    flex: 1 1 auto;
}

a {
    text-decoration: none;
}

nav a {
    color: #fff;
}

.hero,
.home-hero,
.trips-hero {
    position: relative;
}

.hero img,
.home-hero img,
.trips-hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.home-title {
    position: absolute;
    font-family: "Shadows Into Light", cursive;
    background-color: transparent;
    opacity: 100;
    text-shadow: 2px 2px 8px rgb black;
    letter-spacing: 1px;

}

.trips-title {
    position: absolute;
    font-family: "Shadows Into Light", cursive;
    background-color: transparent;
    opacity: 100;
    text-shadow: 2px 2px 8px rgb black;
    letter-spacing: 1px;
}

.information h1 {
    font-size: 25px;
    position: relative;
    top: 10px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 100;
    background-color: #ffffff;
    color: #050505;
}

.serve_title h2 {
    font-size: 25px;
    position: relative;
    top: 0px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 100;
    background-color: #ffffff;
    color: var(--secondary-color);
}

.information p {
    margin: 0 auto;
    font-size: 13px;
    position: relative;
    top: 0px;
    padding: 1px;
    text-align: center;
}

h2 {
    bottom: 30px;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: var(--secondary-color);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 30px;
    width: 90%;
    padding: 10px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent2-color);
    color: #050505;
}

.hero article img {
    float: right;
    width: 125px;
}

.container {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.contact_us {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    gap: 2rem;
    align-items: center;
    padding-left: 100px;
    padding-top: 40px;
    margin: 0 auto;

}

.map iframe {
    width: 300px;
    height: 300px;
    border: .3px solid black;
}

.radio {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
}

.personal_details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 0;
}

.message_purpose {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
}

.subscribe {
    display: flex;
    padding-left: 0px;
    padding-bottom: 15px;
    padding-top: 15px;
}

button {
    width: 300px;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    background-color: rgb(12, 60, 119);
    color: rgb(252, 251, 249);
    padding: 0.3rem;
    border: dashed 2px rgb(34, 49, 87);
}

.link-trips h2 {
    position: relative;
    font-family: "Shadows Into Light", cursive;
    background-color: var(--accent2-color);
    opacity: 100;
    text-shadow: 2px 2px 8px rgb black;
    letter-spacing: 1px;
    color: #050505;
    margin: -25px auto 1rem auto;
    background-size: contain;
    width: 50%;

}

.link-trips a {
    position: relative;
    bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--accent2-color);
    opacity: 100;
    letter-spacing: 1px;
    color: #050505;
    font-size: large;
    margin: auto auto 1rem auto;
    left: 42%;
    padding: 8px;
}

.home-grid,
.trip-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 2rem;
    margin-bottom: 20px;
}

.home-experiences1,
.home-experiences2,
.home-experiences3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
    padding: 10px 10px 10px;
    border: 2px solid var(--accent2-color);

}

.home-experiences1 img,
.home-experiences2 img,
.home-experiences3 img {
    max-width: 100%;
    height: auto;
}

.home-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.newsletter {
    text-align: center;
    background-color: var(--accent2-color);
    padding: 10px;

}

.newsletter input {
    padding: 7px;

}

.newsletter button {
    padding: 5px;
    margin: 3px;
    margin-bottom: 20px;
    width: 80px;
    background-color: var(--secondary-color);
}

.newsletter h2 {
    font-family: 'Times New Roman', Times, serif;
    background-color: transparent;
    color: var(--secondary-color);

}

table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    text-align: center;
}

thead th,
tfoot tr {
    background-color: var(--secondary-color);
    color: #fff;
    font-weight: 700;
}

.trips-table-main h2 {
    font-size: 36px;
    color: var(--secondary-color);
    font-family: "Shadows Into Light", cursive;
    background-color: transparent;
    opacity: 100;
    text-shadow: 2px 2px 8px rgb black;
    letter-spacing: 1px;
    color: #050505;
    margin: 5px auto 1rem auto;
    background-size: contain;
    width: 50%;
    padding: 0%;
}

.link-trips {
    margin-top: 50px;
}