* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-align: center;
    --img-border: 1px solid black;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: #18786f;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

nav a {
    color: white;
    display: block;
    padding: 20px;
    justify-content: space-evenly;
    font-family: serif;

}

h1 {
    color: #034F3B;
    border-bottom: 2px solid black;
}

h2 {
    position: absolute;
    top: 20px;
    left: 75px;
}

img {
    width: 150px;
    height: auto;
    border: var(--img-border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
    grid-column: 2/3;
}

aside {
    width: 20rem;
    text-align: var(--text-align);
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: var(--img-border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-align);
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    background-color: #96beba;
    border: 1px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}